/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.json
/config/app.php
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/video/.DS_Store
resources/.DS_Store
resources/views/.DS_Store
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/2be3da9043b7b9560d5b185786b921b2bb74dd46.php
storage/framework/views/3feb42b478ba26ca0c74c983d5c391470caac5e2.php
storage/framework/views/5709dcb7b89a4400856511f4b7692d5c55a3c972.php
storage/framework/views/7dc458727f5a64ee379740cc97836ef4ca67556d.php
storage/framework/views/85a1983865f7a17ab74b61ea7be63ce276ca63df.php
storage/framework/views/a29209a1196e7bccdf5bb6a4fe8a3d29d344cf07.php
