
/* -------------------- */
/* CLASSES */

/*  CSS1 - MEHTODS
    CSS2 - COLORS
    CSS3 - ELEMENTS (header, footer, nav)
    CSS4 - LISTS
    CSS7 - H1, H2, H3, H4, H5, H6, P
*/

h3
{
    color: #5e5e5e;
    text-transform:uppercase;
    text-align: center;
    font-weight: 300;
    margin-top:100px;
}

h4
{
    color: #5e5e5e;
    text-transform:uppercase;
    text-align: center;
    font-weight: 200;
    margin-top:100px;
}
/* CSS2 - COLORS */
.green_delta
{
    color: #25d5a1;
}

.orange_delta
{
    color: #ec6f75;
}

.grey_delta
{
    color: #a0a09f;
}

.grey-black_delta
{
    color: #636b6f;
}

.bg-grey-black_delta
{
    background-color: rgb(107,105,105);
}

.blue_mydelta
{
    color: #41a6c0;
}

/* CSS3 - ELEMENTS */

footer {
    background-color: #6b6969;
    color: #FFFFFF;
}

footer .organization{
    margin: 0 auto;
    text-align: center;
}

    footer .color-grey{
        color: #CCCCCC;
    }





.add{
    background:url(../images/button/small_orange_button.png) no-repeat 10px 1px;
    text-indent:40px;
    display:block;
}

.home-form-contact
{
    background-image:url(../images/home/colorPen.jpg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.hr-mydelta-blue
{
    width:400px;
    height:8px;
    background-color: #40a5bf;
    border: 0;
}


.hr-mydelta
{
    width:100px;
    height:4px;
    background-color: #ec6f75;
    border: 0;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.input-field input[type=text]:focus + label {
    color: #ec6f75;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ec6f75;
    box-shadow: 0 1px 0 0 #ec6f75;
}

.btn-custom {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #e54f21;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-custom:hover {
    background: #40a5bf;
    text-decoration: none;
}

.div_radius
{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.cadre-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    height: 0;
    right: 0;
    margin: 74px 10%;
    padding: 45px 50px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 0 / 48px;
    border-radius: 0 / 48px;
    font: normal normal bold 155%/0 Arial Black, Gadget, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    text-indent: 3px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 3px;
    word-spacing: 12px;
    background: rgba(140,140,140,1);
    -webkit-box-shadow: 12px 12px 0 1px rgba(0,0,0,0.68) ;
    box-shadow: 12px 12px 0 1px rgba(0,0,0,0.68) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

. company-cloud
{
    background-image:url(../images/home/colorPen.jpg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.waves-effect
{
    background-color: #ec6f75;
}

.waves-effect:hover
{
    background-color: #9BA2AB;
}

/* CSS4 - LISTS */

.list-social-networks li{
    display:inline-block;
}

.list-social-networks li i{
    color: #ffffff;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/* CSS5 - BUTTONS */



/* CSS6 - CARDS PANELS */
/* Penses à faire une media query pour organisation */

@media only screen and (max-width: 600px)
{
    .organisation{
        margin-top:0px;
    }
}

@media only screen and (min-width: 600px)
{
    .organisation{
        margin-top:-70px;
    }
}

.card-panel{
    border-radius:4px;
}

@media only screen and (min-width: 600px)
{
    .card-panel-organisation{
        height:350px;
    }
}

.card-panel-organisation{
    text-align: center;
}

.card-panel-organisation h3{
    font-weight: 800;
    font-size: medium;
    margin-top: 0;
}

/* CSS7 - TITLES */

.slogan {
    color:#FFFFFF;
    text-transform:uppercase;
    text-align: center;
    font-weight: 200;
    margin-top:200px;
}

.normal-text
{
    color: #5e5e5e;
    text-transform:uppercase;
    text-align: center;
    font-weight: 300;
    margin-top:100px;
}