// out: ../css/styles.css, sourcemap: true, compress: true
@white: white;
@pink : #FD7378;
@blue : #ffb74d;
@orange:#ffb74d;
@orange-light: #ffcc80;
@grey: #605E5E;
@light-grey: #A0A09F;
@font-face {
	font-family: "open";
	src: url('../font/openlight.ttf');
}
body{
	@media (min-device-width : 320px) and (max-device-width : 480px){
		overflow-x: hidden;
	}
	overflow-x: hidden;
	h1{
		color: @grey;
		font-family: open;
	}
	h4{
		color: @grey;
		font-family: open;
	}
	h3{
		color: @grey;
		font-family: open;
	}
	p{
		font-family: open;
	}
	a{
		font-family: open;
	}
	*{
		font-family: open;
	}
	a.waves-effect.waves-light.btn.btn-align-center{
		background-color: @orange;
	}
	a.waves-effect.waves-light.btn.btn-align-center:hover{
		background-color: @orange-light;
	}
	input:not([type]):focus:not([readonly]),input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=url]:focus:not([readonly]),input[type=time]:focus:not([readonly]),input[type=date]:focus:not([readonly]),input[type=datetime]:focus:not([readonly]),input[type=datetime-local]:focus:not([readonly]),input[type=tel]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=search]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid @pink;box-shadow:0 1px 0 0 @pink}input:not([type]):focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=date]:focus:not([readonly])+label,input[type=datetime]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label{color:@pink}
	.input-field input[type=text]:focus {
		border-bottom: 1px solid @pink;
		box-shadow: 0 1px 0 0 @pink;
	}
	.input-field input[type=text].valid {
		border-bottom: 1px solid @pink;
		box-shadow: 0 1px 0 0 @pink;
	}
	.input-field input[type=text].invalid {
		border-bottom: 1px solid @pink;
		box-shadow: 0 1px 0 0 @pink;
	}
	.input-field .prefix.active {
		color: @pink;
	}
	nav{
		.logo-head{

			margin-left: 10px;
		}
	}
	section.carrousel-section{
		.slide-one{
			background-image: url(../img/1.jpg);
			background-size: cover;
		}
		.slide-two{
			background-image: url(../img/2.jpg);
			background-size: cover;
		}
		.slide-tree{
			background-image: url(../img/3.jpg);
			background-size: cover;

		}
		.jssorb05 {
			position: absolute;
		}
		.carousel-one{
			position: relative;
			margin: 0 auto;
			top: 0px;
			left: 0px;
			width: 1300px;
			height:350px;
			overflow: hidden;
			visibility: hidden;
		}
		.carousel-two{
			cursor: default;
			position: relative;
			top: 0px;
			left: 0px;
			width: 1300px;
			height: 350px;
			overflow: hidden;
		}
		.jssora22l, .jssora22r {
			display: block;
			position: absolute;
			color: @white;
			font-size: 50px;
			font-weight: 700;
			cursor: pointer
			overflow: hidden;
		}
		.jssora22r:hover {
			opacity: 0.5;
			cursor: pointer
		}
		.jssora22l:hover{
			opacity: 0.5;
			cursor: pointer
		}
		.jssora22l{
			top: 0px;
			left: 8px;
		}
		.jssora22r{
			top:0px;
			right:8px;
		}
		.txt-carousel{
			position:absolute;
			top:150px;
			text-align: center;
			width:100%;
			z-index:0;
			font-size: 50px;
			color: @white;
			line-height:60px;
			font-family: 'Roboto';
		}
		.alter-text{
			top: 70%;
		}
		.newletter-carrou{
			position: relative;
			bottom: 100px;

			input{
				border-radius: 5px;
				width: 225px;
				padding-left: 5px;
				height: 34px;
				border: none;
				padding-top: 0px;
				padding-bottom: 0px
			}
		}
	}
	.content-card-flex{
		padding-top: 20px;
		.log-card{
			position: relative;
			bottom: 100px;
		}
		.card-panel{
			max-height: 320px;
			min-height: 320px;
			@media (min-device-width : 320px) and (max-device-width : 480px) {
				width: 303px;
			}
		}
		.card-flex{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			i{
				font-size: 50px;
			}
			h3{
				border-bottom: 2px solid @pink;
			}
			p{
				color: @grey;
			}
		}
	}
	.description-text{
		margin-bottom: 0;
		font-size: 16px;
		position: relative;
		bottom: 78px;

	}
	article.demonstration-function{
		.col{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.round-step{
			height: 80px;
			width: 80px;
			background-color: @pink;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 31px;
			font-weight: 900;

		}
		.animation{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.separator{
			height: 4px;
			width: 30%;
			background-color: @pink;
			margin-bottom: 10px;
		}
		h5{
			font-size: 21px;
			padding: 5px;
			color: @grey;
		}
		.description-text-step{
			color: @light-grey
		}
		.vid{
			width: 100%;
			display: flex;
			justify-content: center;
		}
		video{
			width: 700px;
			height: 450px;
			margin-top: 50px;
			margin-bottom: 50px;
			@media (min-device-width : 320px) and (max-device-width : 480px){
				width: 100%;
				margin:0;
				height: 250px;
			}
		}
	}
	article.solution{
		padding-bottom: 20px;
		margin-top: 50px;
		.row{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.descone{
			margin-left: 113px;
		}
		.destwo{
			margin-right: 85px
		}
		.separator{
			height: 4px;
			width: 20%;
			background: @pink;
			margin-bottom: 20px;
		}
		.desc-solution{
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
		}
		.desc-solution-al{
			margin-top: 30px;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			flex-direction: row-reverse;
			align-items: center;
			img{
				padding-left: 45px;
			}
		}
		img{
			height: 80px;
			width: auto;
			padding-right: 45px;
		}
		span{
			color: @grey;
			font-size: 22px;
		}
		p{
			color: @light-grey;
		}
	}
	.association-content{
		h4{
			margin-top: 50px;
			margin-bottom: 25px;
		}
		.separator{
			height: 4px;
			width: 35%;
			background-color: @pink;
		}
		.content{
			margin-left: 12.5%;
			width: 100%;
			@media (min-device-width : 320px) and (max-device-width : 480px) {
				margin-left: 0;
			}
			.card-size{
				min-height: 425px;
			}
			.card-one{
				background-image: url(../img/assobg1.jpg);
				background-repeat: no-repeat;
			}
			.card-two{
				background-image: url(../img/assobg2.jpg);
				background-repeat: no-repeat;
			}
			.card-tree{
				background-image: url(../img/assobg3.jpg);
				background-repeat: no-repeat;
			}
			.card-for{
				background-image: url(../img/assobg4.jpg);
				background-repeat: no-repeat;
				background-position-x: -21px;

			}
			.card-five{
				background-image: url(../img/assobg5.jpg);
				background-repeat: no-repeat;
			}
			.card-content{
				color: @grey;
				.tilte-asso{
					text-align: center;
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
				}
				.separator{
					height: 3px;
					width: 25%;
				}
				.footer-card-active{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 10px;
					img{
						width: 80px;
						height: 90px;
					}
				}
			}
			.bg-img-card{
				background-size: cover;
				height: 174px;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					width: initial;
				}
			}
			.more-info{
				line-height: 35px;
				font-style: normal;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 15px;
				background-color: @blue !important;
				color: white !important;
			}
			p{
				margin-top: 17px;
			}
		}
	}
	section.collab{
		img{
			@media (min-device-width : 320px) and (max-device-width : 480px) {
				width: 100%;
			}
		}
		padding-bottom: 30px;
		.container{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		p.center-align{
			color: @light-grey;
		}
		p{
			color: @grey;
			font-size: 16px;
		}
		.modal{
			width: 50%;
			@media (min-device-width : 320px) and (max-device-width : 480px){
				width: 90%;
			}
		}
		.modal-content{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.separator{
				width: 35%;
				height: 5px;
				background-color: @pink;
			}
		}
		.modal-footer{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	section.time{
		margin-top: 25px;
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		.content-time{
			display: flex;
			flex-direction: row;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.bg{
			@media (min-device-width : 320px) and (max-device-width : 480px){
				display: none;
			}
			border-radius: 5px;
			background-color: white;
			box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.4);
			width: 300px;
			height: 300px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 25px;
		}
		img{
			width: 45%;

		}
		.txt-time{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
	.contact{
		margin-bottom: 0;

		.row{
			margin-bottom: 0;
		}
		a{
			margin-bottom: 25px;
		}
		.contact-send{
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
	footer{
		background-color: #333333;
		width: 100%;
		margin: 0;
		color: @white;
		.row{
			margin: 0;
		}
		a{
			color: @white;
			border-bottom: 1px solid @white;
		}
		a:hover{
			color: @blue;
			border-bottom: 1px solid @blue;
		}
		ul.list-social-networks{
			display : inline-flex;
			li{
				a:hover{
					border-bottom: 0px;
				}
				a{
					border: none;
				}
				padding-left: 10px;
				i{
					color: @white;
				}
				i:hover{
					color: @blue;
				}
			}
		}
	}
	@media only screen and (min-device-width : 1024px) and (max-device-width : 600px) {
		br{
			display: none;
		}
	}
}
